:root {
  /* Colors */
  --light-green: #d2fbe9;
  --red: #f66052;
  --dark-blue: #5492a4;
  --blue: #cdf2fb;
  --light-blue: #d6f8fa;
  --yellow: #ffc660;
  --deep-yellow: #f5a721;
  --light-grey: #fbfbfb;
  --mid-gray: #f8f8f8;
  --dark-grey: #3b3b3d;
  --black_s: #151a20;
  --white: #ffffff;
  --gradient_grey: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 248, 248, 1) 74%,
    rgba(248, 248, 248, 1) 83%,
    rgba(251, 251, 251, 1) 90%
  );
  --box_shadow: 0px 5px 10px 0px rgba(59, 59, 61, 0.15);
  /* Fonts */
  --font-11: 0.6875rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-88: 5.5rem;
  --smaller-font-size: clamp(var(--default-font-size) * 0.5);
  --default-font-size: clamp(0.8125rem, 0.775rem + 0.1875vw, 1rem);
  --enlarged-font: calc(var(--default-font-size) * 1.25);
  --line-height: clamp(
    var(--smaller-font-size),
    var(--default-font-size),
    var(--enlarged-font)
  );
}

html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-size: 100%;

  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 2px rgb(255, 0, 234) solid; */
}

body {
  width: 95%;
  height: 100%;

  font-family: "Open Sans", sans-serif;
  font-size: var(--default-font-size);
  line-height: var(--line-height);
  font-weight: lighter;
  color: var(--dark-grey);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* outline: 2px red solid; */
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0 0 0.2rem 0rem;
}

p {
  max-width: 300ch;
  align-self: flex-start;
}

a:link,
a:visited {
  color: var(--dark-grey);
  text-decoration: none;
  margin-bottom: 0.5rem;
}

a:hover {
  color: var(--yellow);
}

#galleryWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  /* outline: 2px solid rgb(26, 164, 214); */
}

.titleImageContainer {
  position: relative;
  width: calc(25% - 0.2rem);
  max-width: 600px;
  margin: 0.1rem;
  aspect-ratio: 1/1;

  /* outline: 1px solid black; */
}

.titleImage {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0;
  overflow: hidden;
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  transition: height 0.4s ease;
  /* outline: 2px solid rgb(24, 37, 180); */
}

.overlay h2 {
  display: block;
  text-align: center;
  margin: 60% 0;
}

.TitleLinkGroup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  /* outline: 2px solid rgb(26, 164, 214); */
}

.TitleLinkGroup h2 {
  margin: 0 0;
}

.TitleLinkGroup a {
  border-radius: 1px;
  box-shadow: 5px 3px 0px 5px rgba(205, 242, 251, 0.5),
    1px -4px 0px 5px rgba(255, 198, 96, 0.25),
    -6px 10px 0px 4px rgba(210, 251, 233, 0.5);
  padding: 5px 10px;
  margin: 5% 0;
}

.titleImageContainer:hover .overlay {
  height: 80%;
}

#DetailsWrapper {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* outline: 2px solid rgb(26, 164, 214); */
}

.hidden-content {
  margin-top: 2rem;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* outline: 2px solid rgb(56, 221, 34); */
}

.hidden-content img {
  display: block;
  max-width: 1000px;
  height: auto;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 5px 10px 1px rgba(59, 59, 61, 0.075);
  /* outline: 2px solid rgb(0, 0, 0); */
}

.hidden-content video {
  max-width: 1000px;
  height: auto;
  max-height: 640px;
  display: block;
  margin: 1.5rem auto;
  box-shadow: 1px 5px 10px 1px rgba(59, 59, 61, 0.075);
}

/* Laptops and Desktops (large screens) */
@media (min-width: 1025px) {
  nav {
    width: 30%;
  }
}

/* Tablets (medium screens) */
@media (min-width: 601px) and (max-width: 1024px) {
  nav {
    width: 50%;
  }

  .overlay h2 {
    font-size: 85%;
  }
  .TitleLinkGroup a {
    font-size: 85%;
  }
  .hidden-content img {
    padding: 0.5rem;
    max-width: 90%;
  }
}

/* Mobile devices (small screens) */
@media (max-width: 600px) {
  nav {
    width: 80%;
  }
  .overlay h2 {
    font-size: 75%;
  }
  .TitleLinkGroup a {
    font-size: 75%;
  }
  .hidden-content img {
    padding: 0.25rem;
    width: 100%;
    max-width: 100%;
  }
  .hidden-content video {
    max-width: 100%;
    margin: 1rem auto;
  }
}
