:root {
  /* Colors */
  --light-green: #d2fbe9;
  --red: #f66052;
  --dark-blue: #5492a4;
  --blue: #cdf2fb;
  --light-blue: #d6f8fa;
  --yellow: #ffc660;
  --deep-yellow: #f5a721;
  --light-grey: #fbfbfb;
  --mid-gray: #f8f8f8;
  --dark-grey: #3b3b3d;
  --black_s: #151a20;
  --white: #ffffff;
  --gradient_grey: linear-gradient(
    -90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 248, 248, 1) 74%,
    rgba(248, 248, 248, 1) 83%,
    rgba(251, 251, 251, 1) 90%
  );
  --box_shadow: 0px 5px 10px 0px rgba(59, 59, 61, 0.15);
  /* Fonts */
  --font-11: 0.6875rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
  --font-18: 1.125rem;
  --font-88: 5.5rem;
  --smaller-font-size: clamp(var(--default-font-size) * 0.5);
  --default-font-size: clamp(0.8125rem, 0.775rem + 0.1875vw, 1rem);
  --enlarged-font: calc(var(--default-font-size) * 1.25);
  --line-height: clamp(
    var(--smaller-font-size),
    var(--default-font-size),
    var(--enlarged-font)
  );
}

html {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;

  display: flex;
  justify-content: center;
  /* outline: #ed0fe6 5px solid; */
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: var(--default-font-size);
  line-height: var(--line-height);
  font-weight: lighter;
  color: var(--dark-grey);
  margin: 1rem;
  /* outline: #2af106 5px solid; */
}

p {
  margin: 0;
}
a:link,
a:visited {
  color: var(--dark-grey);
  text-decoration: none;
}

a:hover {
  color: var(--yellow);
}

/* LANDING PAGE */
#homePage__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  box-shadow: 0px 5px 10px 0px rgba(59, 59, 61, 0.15);
  /* outline: 2px solid rgb(0, 26, 255); */
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  text-align: center;

  height: fit-content;
  margin: calc(var(--default-font-size) * 0.75);

  /* outline: #5492a4 6px solid; */
}
nav > span {
  font-weight: bold;
}
#banner_group {
  display: flex;
  flex-direction: column;
  height: 70%;

  /* outline: #218ff5 3px solid; */
}

#gifContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;

  background-color: var(--light-grey);
  /* outline: #f5a721 solid 3px; */
}

#Title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(var(--default-font-size) * 3.25);
  font-weight: bold;
  z-index: 2;
  /* outline: #f5a721 solid 3px; */
}

#Title span:nth-child(2) {
  font-size: 80%;
  line-height: 1;
  margin: 0 1rem;
}

#gifImage {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-image: url("/images/animated_bg.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 1;
  /* outline: #d45511 solid 3px; */
}

#Title :nth-child(2) {
  margin: 3%;
  /* outline: #f5a721 solid 3px; */
}

.Quotes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: auto 20%;
}

.Quotes > :last-child {
  font-weight: bold;
}

.button {
  display: block;
  width: 120px;

  padding: 8px;

  border: none;
  margin: auto;
  margin-bottom: 2%;

  background-color: var(--mid-gray);
  border-radius: 1px;

  text-align: center;

  box-shadow: 5px 3px 0px 5px rgba(205, 242, 251, 0.5),
    1px -4px 0px 5px rgba(255, 198, 96, 0.25),
    -6px 10px 0px 4px rgba(210, 251, 233, 0.5);
}

/* ABOUT */
.section_title {
  font-size: var(--enlarged-font);
  margin-bottom: 2rem;
  /* outline: #e1f274 solid 3px; */
}

.large_text {
  font-size: calc(var(--default-font-size) * 2);
  font-weight: bold;
  padding: 10px;
  /* outline: #f5a721 solid 3px; */
}

.bold_font {
  font-weight: bold;
}

#aboutMe__container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;

  border-radius: 1px;
  box-shadow: 0px 12px 0px 0px rgba(205, 242, 251, 0.5),
    90px 22px 0px 0px rgba(214, 248, 250, 0.9),
    45px 40px 0px 0px rgba(210, 251, 233, 0.4);

  /* outline: #d02bc8 6px solid; */
}

#About_title {
  display: flex;
  justify-content: center;
  grid-column: 1 / 4;
  margin-top: 1rem;
  /* outline: #dc21f5 solid 3px; */
}
#about_intro {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  max-width: 90%;
  margin: 0 auto 1.5rem auto;
  text-align: left;
}

#about_intro aside {
  display: block;
  font-weight: bold;
  font-size: var(--default-font-size);
  margin: 2rem 0;
  /* outline: #21d5c0 solid 3px; */
}

#about_intro p {
  margin-bottom: 1rem;
  /* outline: #bad521 solid 3px; */
}

#about_main {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  /* outline: #a76ac6 solid 3px; */
}

#about_main > img {
  max-width: 25%;
  height: auto;
  align-self: flex-start;
}

#about_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 2rem;
  /* outline: #f57621 solid 3px; */
}

#prof_person_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
  /* outline: #f66052 5px solid; */
}

#testimonials {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  font-size: calc(0.875 * var(--default-font-size));
  line-height: 2rem;
  width: 100%;
  margin-bottom: 5rem;
  box-shadow: 0 0 10px 0 rgba(59, 59, 61, 0.15);
  background: linear-gradient(to bottom, transparent, var(--light-grey));
  /* outline: #f57621 solid 3px; */
}

#testimonials_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 2rem;
  margin: 0 4%;
  /* outline: #acabfd solid 3px; */
}

#testimonials_block > * {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 400px;
}

[id*="firstWords"] {
  height: 80px;
  /* outline: #8e9973 solid 3px; */
}

[id*="readMoreButton"] {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 10px;
  border: none;
  background: linear-gradient(to bottom, transparent, var(--light-grey));
  /* font-size: small; */
  color: var(--dark-blue);
  font-style: italic;
  width: 100%;
  cursor: pointer;
  z-index: 2;
}

[id*="testimonial"] {
  font-style: italic;
}
.small-bold {
  display: block;
  width: 80%;
  margin: 2rem auto;
  line-height: 1.5;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  /* outline: #5492a4 1px solid; */
}

.small-bold > span {
  font-size: var(--default-font-size);
  color: var(--deep-yellow);
  margin-left: 0.5rem;
}

#about_education {
  grid-column: 1 / 4;
  display: grid;
  row-gap: 1rem;
}

#education_wrapper {
  background: var(--gradient_grey);
  padding: 1rem;
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  /* outline: #9152f6 4px solid; */
}
#education_intro {
  grid-column: 1 / 4;
  font-size: var(--default-font-size);
  margin-bottom: 0.5rem;
  display: inline-block;
}

#education_container {
  display: contents;
  outline: #9152f6 4px solid;
}

.education_block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  text-align: center;
  padding: 0.5rem;
}

.education_block :nth-child(1) {
  color: var(--dark-blue);
  margin-bottom: 1rem;
  z-index: 2;
  /* outline: #5492a4 1px solid; */
}

.education_block :nth-child(2) {
  font-weight: bold;
  /* outline: #5492a4 1px solid; */
}

.education_block p {
  font-size: calc(0.875 * var(--default-font-size));
  font-style: italic;
}

/* SKILLS */

#mySkills__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0px 5px 5px 0px rgba(59, 59, 61, 0.15);
  /* outline: #101010 6px solid; */
}

#mySkills__container > span {
  display: block;
}

#mySkills__container > img {
  max-width: 70%;
  max-height: 65%;
  margin-bottom: 2%;
}

#skills_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  gap: 20%;
  margin: 2rem 2rem;
  /* outline: #101010 6px solid; */
}

/* CONTACT ME */

#contactMe_container {
  display: grid;
  grid-row: 1fr 2fr 1fr;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(248, 248, 248, 1) 74%,
    rgba(248, 248, 248, 1) 83%,
    rgba(251, 251, 251, 1) 90%
  );

  margin-top: 2%;
  margin-bottom: 2%;
}

#contactMe_container > aside {
  margin-top: 2%;
  margin-right: 3%;
}

#contactMe_container > span {
  display: block;
  /* font-size: 3.5rem; */
  font-weight: bold;
  color: var(--dark-grey);

  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 3%;
}

.inlineList {
  list-style: none;
  padding: 0;
  font-weight: bold;
}

.inlineList li {
  display: inline;
}

.inlineList li + li::before {
  content: " . ";
  font-weight: bold;
  color: var(--yellow);
  /* font-size: 1.5rem; */
}

/* Laptops and Desktops (large screens) */
@media (min-width: 1025px) {
  nav {
    width: 30%;
  }
}

/* Tablets (medium screens) */
@media (min-width: 601px) and (max-width: 1024px) {
  nav {
    width: 50%;
  }
  #Title {
    font-size: calc(var(--default-font-size) * 3);
  }
  .large_text {
    font-size: calc(var(--default-font-size) * 1.75);
  }

  .section_title {
    font-size: var(--default-font-size);
  }
}

/* Mobile devices (small screens) */
@media (max-width: 600px) {
  nav {
    width: 90%;
  }

  #gifContainer {
    height: 300px;
  }
  #Title {
    font-size: calc(var(--default-font-size) * 2);
  }
  .large_text {
    font-size: calc(var(--default-font-size) * 1.5);
  }

  #aboutMe__container {
    display: flex;
    flex-direction: column;
  }
  #about_main {
    display: flex;
    flex-direction: column;
    /* outline: #21f54b 1px solid; */
  }

  #about_main img {
    max-width: 40%;
    height: auto;
    align-self: center;
    margin-bottom: 1rem;
  }
  .section_title {
    font-size: var(--default-font-size);
  }

  #testimonials_block {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
  }

  #education_container {
    flex-direction: column;
  }

  .inlineList {
    font-size: var(--default-font-size);
  }
}

/* ANIMATED ARROW */

#arrow__container {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 5%;
  /* outline: #2c21f5 solid 1px; */
}

.arrow,
.arrow:before {
  position: absolute;
}

.arrow {
  width: 20px;
  height: 20px;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px var(--blue) solid;
  border-bottom: 2px var(--blue) solid;
}

.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px var(--blue) solid;
  border-bottom: 1px var(--blue) solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}
